{% include "partials/base2.html.twig" %}

{% block body %}
	<body class="home page-template page-template-template-home page-template-template-home-php page page-id-362 wp-custom-logo">
		<div class="en-pagewrap">
			{% include "partials/layouts/front/_header.html.twig" %}
			<!-- .en-general-header.header-lay-2.en-standard-section-spacing -->

			<!-- #canvas-aside --><div id="canvas-aside-mask"> </div>
			<div class="en-container">
				<div class="en-general-banner en-standard-section-spacing">
					<div class="banner-inner">
						{% for enContinu in enContinus %}
							<div class="owl-carousel" id="en-banner-lay-1">
								<div class="item">
									<article
										class="card thumb lazyload" data-bg="">

										<!-- .entry-meta -->
										<div class="post-overlay absolute">
											<div class="entry-cats">
												<ul class="post-categories">
													{% for category in enContinu.categories %}
														<li>
															<a class="newsever-categories category-color-1" href="{{ path('app_da_post_category_detail', { postCategoryUrl : category.postCategoryUrl }) }}" alt="Voir toutes les actualitées">
																{{ category.categoryTitle }}
															</a>
														</li>
													{% endfor %}

												</ul>
											</div>
											<div class="entry-title">
												<h2 class="post-title f-size-m clr-white">
													<a href="">{{ enContinu.postTitle | u.truncate(50, '...') | raw }}
													</a>
												</h2>
												<!-- .post-title.f-size-m.clr-white -->
											</div>
											<div class="entry-meta">
												<ul class="metas">
													<li class="posted-date clr-white">
														<i class="far fa-clock"></i>
														<a href="" rel="bookmark">
															<time class="entry-date published updated" datetime="2018-11-21T07:47:01+01:00">
																{{ enContinu.postCreatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}</time>
														</a>
													</li>
													<!-- .posted-date.clr-white -->
													<li class="author clr-white">
														<i class="fas fa-user"></i>
														<a href="{{ path('app_da_user_post', { userName : enContinu.user } ) }}">
															{{ enContinu.user.userFullname }}
														</a>
													</li>
													<!-- .author.clr-white -->
												</ul>
												<!-- .metas -->
											</div>
											<!-- .entry-meta -->
										</div>
										<!-- .post-overlay.absolute -->
										<div class="mask"><img width="150" height="150" src="{{ vich_uploader_asset(enContinu) | imagine_filter('FLASH_NEWS') }}" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" loading="lazy"/></div>
									</article>
									<!-- .card.thumb.lazyload -->
								</div>
								<!-- .item -->

							<!-- .item -->

								<!-- .item -->

								<!-- .item -->

								<!-- .item -->
							</div>
							<!-- #en-banner-lay-1.owl-carousel -->


						{% endfor %}
					</div>
					<!-- .banner-inner -->
				</div>
				<!-- .en-general-banner.en-standard-section-spacing -->
				<div id="media_image-2">
					<div class="widget widget_media_image">
						<a href=""><img width="1600" height="150" src="assets/basefront/images/ban.png" class="image wp-image-845  attachment-full size-full" alt="" decoding="async" loading="lazy" style="max-width: 100%; height: auto;" srcset="assets/basefront/images/ban.png 1600w, assets/basefront/images/ban.png 300w, assets/basefront/images/ban.png 1024w, assets/basefront/images/ban.png 768w, assets/basefront/images/ban.png 1536w" sizes="(max-width: 1600px) 100vw, 1600px"/></a>
					</div>
				</div>
				<section class="en-front-widget-9 en-standard-section-spacing">
					<div class="widget-title">
						<h3>Investir en Afrique</h3>
					</div>
					<!-- .widget-title -->
					<div class="widgets-contents-entry">
						<div class="row">
							{% for alaune in alaunes %}
								<div class="en-col">
									<article class="box">
										<div class="thumb">
											<a class="lazyloading" href="">
												<img width="640" height="427" src="{{ vich_uploader_asset(alaune) | imagine_filter('A_LA_UNE') }}" class="attachment-large size-large wp-post-image" alt="" loading="lazy" sizes="(max-width: 640px) 100vw, 640px"/>
											</noscript>
										</a>
										<div class="entry-cats">
											<ul class="post-categories">
												{% for category in alaune.categories %}
													<li>
														<a href="{{ path('app_da_post_category_detail', { postCategoryUrl : category.postCategoryUrl }) }}" rel="category tag" alt="Voir toutes les actualitées">{{ category.categoryTitle }}</a>
													</li>
												{% endfor %}

											</ul>
										</div>
									</div>
									<!-- .thumb -->
									<div class="content-holder">
										<div class="entry-title">
											<h3 class="post-title f-size-s clr-primary">
												<a href="{{ path('app_da_post_detail', { postUrl : alaune.postUrl } ) }}">{{ alaune.postTitle | raw }}</a>
											</h3>
										</div>
										<div class="entry-meta">
											<ul class="metas">
												<li class="posted-date clr-special">
													<i class="far fa-clock"></i>
													<a href="" rel="bookmark">
														<time class="entry-date published updated" datetime="2018-11-12T10:33:13+01:00">{{ alaune.postCreatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}</time>
													</a>
												</li>
												<!-- .posted-date.clr-white -->
												<li class="author clr-special">
													<i class="fas fa-user"></i>
													<a href="{{ path('app_da_user_post', { userName : alaune.user } ) }}">
														{{ alaune.user.userFullname }}</a>
												</li>
												<!-- .author.clr-white -->

											</ul>
											<!-- .metas -->
										</div>
										<!-- .entry-meta -->
										<div
											class="excerpt">{# <p>Fusce eu nisi quis dolor ullamcorper pulvinar. Sed luctus odio ligula, eu ornare urna rutrum</p> #}
										</div>
										<!-- .excerpt -->
									</div>
									<!-- .content-holder -->
								</article>
								<!-- .box -->
							</div>

						{% endfor %}
						<!-- .en-col -->

					<!-- .en-col -->

						<!-- .en-col -->

						<!-- .en-col -->

						<!-- .en-col -->

						<!-- .en-col -->
					</div>
					<!-- .row -->
				</div>
				<!-- .widgets-contents-entry -->
			</section>
			<!-- .en-front-widget-9.en-standard-section-spacing -->
			<div id="media_image-3">
				<div class="widget widget_media_image">
					<a href=""><img width="1600" height="150" src="assets/basefront/images/ban.png" class="image wp-image-845  attachment-full size-full" alt="" decoding="async" loading="lazy" style="max-width: 100%; height: auto;" srcset="assets/basefront/images/ban.png 1600w, assets/basefront/images/ban.png 300w, bassets/basefront/images/ban.png 1024w, assets/basefront/images/ban.png 768w, assets/basefront/images/ban.png 1536w" sizes="(max-width: 1600px) 100vw, 1600px"/></a>
				</div>
			</div>
			<div class="en-widgets-holder-mid-block-wrap column-2-layout">
				<div class="row">
					<div class="en-col main-content-box-outer sticky-sidebar">
						<section class="en-front-widget-3 en-standard-section-spacing">
							<div class="widget-title">
								<h3>Financement</h3>
							</div>
							<!-- .widget-title -->
							<div class="widgets-contents-entry">
								<div class="row">
									{% for cvr in coronavirus %}
										<div class="col-lg-6 col-md-12 col-sm-12 left-gutter"></div>
										<!-- .col -->
										<div class="col-lg-6 col-md-12 col-sm-12 right-gutter">
											<article class="card">
												<div class="en-row">
													<div class="left-col">
														<div class="thumb">
															<img width="640" height="480" src="{{ vich_uploader_asset(cvr) | imagine_filter('CORONA_BIG') }}" class="attachment-large size-large wp-post-image" alt="" loading="lazy" sizes="(max-width: 640px) 100vw, 640px"/>
														</div>
														<!-- .thumb -->
													</div>
													<!-- .left-col -->
													<div class="right-col">
														<div class="content-holder">
															<div class="entry-title">
																<div class="entry-cats">
																	<ul class="post-categories">
																		{% for category in cvr.categories %}
																			<li>
																				<a href="{{ path('app_da_post_category_detail', { postCategoryUrl : category.postCategoryUrl }) }}" alt="Voir toutes les actualitées">
																					{{ category.categoryTitle }}
																				</a>
																			</li>
																		{% endfor %}

																	</ul>
																</div><br>
																<h3 class="post-title f-size-s clr-primary">
																	<a href="{{ path('app_da_post_detail', { postUrl : cvr.postUrl } ) }}">{{ cvr.postTitle | u.truncate(60, '...') | raw}}</a>
																</h3>
															</div>
															<div class="entry-meta">
																<ul class="metas">
																	<li class="posted-date clr-special">
																		<i class="far fa-clock"></i>
																		<a href="" rel="bookmark">
																			<time class="entry-date published updated" datetime="2018-11-21T07:47:01+01:00">{{ cvr.postCreatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}</time>
																		</a>
																	</li>
																	<li class="author clr-special">
																		<i class="fas fa-user"></i>
																		<a href="{{ path('app_da_user_post', { userName : cvr.user } ) }}">
																			{{ cvr.user.userFullname }}
																		</a>
																	</li>
																	<!-- .posted-date.clr-white -->
																</ul>
																<!-- .metas -->
															</div>
															<!-- .entry-meta -->

														</div>
														<!-- .content-holder -->
													</div>
													<!-- .right-col -->
												</div>
												<!-- .en-row -->
											</article>
											<!-- .card -->

										<!-- .card -->

											<!-- .card -->

											<!-- .card -->
										</div>
										<!-- .col -->

									{% endfor %}
								</div>
								<!-- .row -->
							</div>
							<!-- .widgets-contents-entry -->
						</section>
						<!-- .en-front-widget-3.en-standard-section-spacig -->
						<div id="text-2">
							<div class="widget widget_text">
								<div class="textwidget">
									<p>
										<a href=""><img decoding="async" loading="lazy" class="size-full wp-image-843 aligncenter" src="assets/basefront/images/gate-compagny.jpg" alt="" width="728" height="90" srcset="assets/basefront/images/ban.png 728w, assets/basefront/images/gate-compagny.jpg 300w" sizes="(max-width: 728px) 100vw, 728px"/></a>
									</p>
								</div>
							</div>
						</div>
						<section class="en-front-widget-5 en-standard-section-spacing">
							<div class="widgets-contents-entry">
								<div class="row">
									<div class="en-col">
										<div class="widget-title">
											<h3>Portrait</h3>
										</div>
										<!-- .widget-title -->
										<article class="card">
											{% for economie in economies %}
												<div class="thumb">

													<a href="{{ path('app_da_post_detail', { postUrl : economie.postUrl } ) }}">
														<img width="220" height="230" src="{{ vich_uploader_asset(economie) | imagine_filter('ECONOMIE_BIG') }}" class="attachment-medium size-medium wp-post-image" alt="" loading="lazy"/>
													</a>


													<!-- .entry-meta -->

												</div>
												<!-- .thumb -->
												<div class="content-holder">
													<div class="entry-cats">
														<ul class="post-categories">
															{% for category in economie.categories %}
																<li>
																	<a href="{{ path('app_da_post_category_detail', { postCategoryUrl : category.postCategoryUrl }) }}" alt="Voir toutes les actualitées">
																		{{ category.categoryTitle }}
																	</a>
																</li>
															{% endfor %}

														</ul>
													</div>
													<div class="entry-title">
														<h3 class="post-title f-size-m clr-primary">
															<a href="{{ path('app_da_post_detail', { postUrl : economie.postUrl } ) }}">{{ economie.postTitle | raw }}</a>
														</h3>
													</div>
													<div class="entry-meta">
														<ul class="metas">
															<li class="posted-date clr-special">
																<i class="far fa-clock"></i>
																<a href="" rel="bookmark">
																	<time class="entry-date published updated" datetime="2018-11-12T12:35:14+01:00">{{ economie.postCreatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}</time>
																</a>
															</li>
															<!-- .posted-date.clr-white -->
															<li class="author clr-special">
																<i class="fas fa-user"></i>
																<a href="{{ path('app_da_user_post', { userName : economie.user } ) }}">
																	{{ economie.user.userFullname }}</a>
															</li>
															<!-- .author.clr-white -->
														</ul>
														<!-- .metas -->
													</div>
													<!-- .entry-meta -->

												</div>
												<!-- .content-holder -->
											{% endfor %}
										</article>
										<!-- .card -->

									<!-- .card -->

										<!-- .card -->

										<!-- .card -->
									</div>
									<!-- .en-col -->
									<div class="en-col">
										<div class="widget-title">
											<h3>Juridique et Fiscalité</h3>
										</div>
										<!-- .widget-title -->
										<article class="card">
											{% for diver in divers %}
												<div class="thumb">

													<a href="{{ path('app_da_post_detail', { postUrl : diver.postUrl } ) }}">
														<img width="220" height="230" src="{{ vich_uploader_asset(diver) | imagine_filter('ECONOMIE_BIG') }}" class="attachment-medium size-medium wp-post-image" alt="" loading="lazy"/>
													</a>

													<!-- .entry-meta -->

												</div>
												<!-- .thumb -->
												<div class="content-holder">
													<div class="entry-cats">
														<ul class="post-categories">
															{% for category in diver.categories %}
																<li>
																	<a href="{{ path('app_da_post_category_detail', { postCategoryUrl : category.postCategoryUrl }) }}" alt="Voir toutes les actualitées">
																		{{ category.categoryTitle }}
																	</a>
																</li>
															{% endfor %}

														</ul>
													</div>
													<div class="entry-title">
														<h3 class="post-title f-size-m clr-primary">
															<a href="{{ path('app_da_post_detail', { postUrl : diver.postUrl } ) }}">{{ diver.postTitle | raw }}</a>
														</h3>
													</div>
													<div class="entry-meta">
														<ul class="metas">
															<li class="posted-date clr-special">
																<i class="far fa-clock"></i>
																<a href="" rel="bookmark">
																	<time class="entry-date published updated" datetime="2018-11-12T12:35:14+01:00">{{ diver.postCreatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}</time>
																</a>
															</li>
															<!-- .posted-date.clr-white -->
															<li class="author clr-special">
																<i class="fas fa-user"></i>
																<a href="{{ path('app_da_user_post', { userName : diver.user } ) }}">
																	{{ diver.user.userFullname }}</a>
															</li>
															<!-- .author.clr-white -->
														</ul>
														<!-- .metas -->
													</div>
													<!-- .entry-meta -->

												</div>
												<!-- .content-holder -->
											{% endfor %}
										</article>
										<!-- .card -->

									<!-- .card -->
										<!-- .card -->

										<!-- .card -->
									</div>
									<!-- .row -->
								</div>
								<!-- .widgets-contents-entry -->
							</section>
							<!-- .en-front-widget-5.en-standard-section-spacing -->
						</div>
						<!-- .en-col main-content-box-outer -->
						{% include "front/aside-news.html..twig" %}
						<!-- .en-col aside-sidebar-outer -->
					</div>
					<!-- .row -->
				</div>
				<!-- .en-widgets-holder-mid-block-wrap.column-2-layout -->
				<div id="media_image-4">
					<div class="widget widget_media_image">
						<a href=""><img width="1600" height="150" src="assets/basefront/images/ban.png" class="image wp-image-845  attachment-full size-full" alt="" decoding="async" loading="lazy" style="max-width: 100%; height: auto;" srcset="assets/basefront/images/ban.png 1600w, assets/basefront/images/ban.png 300w, assets/basefront/images/ban.png 1024w, assets/basefront/images/ban.png 768w, assets/basefront/images/ban.png 1536w" sizes="(max-width: 1600px) 100vw, 1600px"/></a>
					</div>
				</div>
				<section class="en-front-widget-7 en-standard-section-spacing">
					<div class="widget-title">
						<h3>Startup</h3>
					</div>
					<!-- .widget-title -->
					<div class="widgets-contents-entry">
						<div class="en-row">
							{% for st in sts %}
								<div class="en-col">
									<article class="box">
										<div class="left-box">
											<div class="thumb">
												<a class="lazyloading" href="">
													<img width="640" height="480" src="{{ vich_uploader_asset(st) | imagine_filter('CORONA_BIG') }}" class="attachment-large size-large wp-post-image" alt="" loading="lazy" sizes="(max-width: 640px) 100vw, 640px"/>
												</a>
											</div>
											<ul class="post-categories">
												{% for category in st.categories %}
													<li>
														<a class="newsever-categories category-color-1" href="{{ path('app_da_post_category_detail', { postCategoryUrl : category.postCategoryUrl }) }}" alt="Voir toutes les actualitées">
															{{ category.categoryTitle }}
														</a>
													</li>
												{% endfor %}

											</ul>
											<!-- .thumb -->
										</div>
										<!-- .left-box -->
										<div class="right-box">
											<div class="content-holder">
												<div class="entry-title">
													<h3 class="post-title f-size-s clr-primary">
														<a href="{{ path('app_da_post_detail', { postUrl : st.postUrl } ) }}">{{ st.postTitle | raw }}</a>
													</h3>
												</div>
												<div class="entry-meta">
													<ul class="metas">
														<li class="posted-date clr-special">
															<i class="far fa-clock"></i>
															<a href="" rel="bookmark">
																<time class="entry-date published updated" datetime="2018-11-18T11:44:29+01:00">{{ st.postCreatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}</time>
															</a>
														</li>
														<!-- .posted-date.clr-white -->
														<li class="author clr-special">
															<i class="fas fa-user"></i>
															<a href="{{ path('app_da_user_post', { userName : st.user } ) }}">
																{{ st.user.userFullname }}
															</a>
														</li>
													</ul>
													<!-- .metas -->
												</div>
												<!-- .entry-meta -->
											</div>
											<!-- .content-holder -->
										</div>
										<!-- .right-box -->
									</article>
									<!-- .box -->
								</div>
								<!-- .en-col -->
							{% endfor %}
						</div>
						<!-- .en-row -->
					</div>
					<!-- .widgets-contents-entry -->
				</section>
				<!-- .en-front-widget-7.en-standard-section-spacing -->
			</div>
			<!-- .en-container -->
			{% include "partials/layouts/front/_footer.html.twig" %}
			<!-- .footer -->
		</div>
		<!-- .en-pagewrap -->
	</body>
</div></body>{% endblock %}
