{% include "partials/base2.html.twig" %}
{# {% block content %}
	<body class="archive author author-pelitsara-sulla author-6 wp-custom-logo wp-embed-responsive hfeed aft-default-mode aft-hide-comment-count-in-list aft-hide-minutes-read-in-list aft-hide-date-author-in-list default-content-layout content-with-single-sidebar align-content-left">
		
		{# {% include "partials/layouts/front/_preloader.html.twig" %}


		<div id="page" class="site">
			<a class="skip-link screen-reader-text" href="#content">Passer la contenu</a>


			{% include "partials/layouts/front/_header.html.twig" %}

			<!-- end slider-section -->

			<div class="container-wrapper"></div>


			<div id="content" class="container-wrapper ">
				<div class="af-container-block-wrapper clearfix">
					<div id="primary" class="content-area">
						<main id="main" class="site-main">


							<header class="header-title-wrapper1">
								<h1 class="page-title">{{ daUser.userFullname }}</h1>
							</header>
							<!-- .header-title-wrapper -->
							<div class="af-container-row aft-archive-wrapper clearfix archive-layout-list">


								{% for post in posts %}
									<article id="post-{{ post.postTitle | raw }}" class="latest-posts-list col-1 float-l pad archive-layout-list archive-image-left post-{{ post.postTitle }} post type-post status-publish format-standard has-post-thumbnail hentry">
										<div class="archive-list-post list-style">
											<div class="read-single color-pad">

												<div class="read-img pos-rel col-2 float-l read-bg-img af-sec-list-img">
													<a href="{{ path('app_da_post_detail', { postUrl : post.postUrl } ) }}">
														<img width="220" height="230" src="{{ vich_uploader_asset(post) | imagine_filter('CATEGORY_SHOW') }}" class="attachment-medium size-medium wp-post-image" alt=""/>
													</a>
													<div class="min-read-post-format">
														<span class="min-read-item">
															<span class="min-read">{{ read_time(post.postContent) }}
																de lecture</span>
														</span>
													</div>


												</div>


												<div class="read-details col-2 float-l pad af-sec-list-txt color-tp-pad">
													<div class="read-categories">
														<ul class="cat-links">
															{% for category in post.categories %}
																<li class="meta-category">
																	<a class="newsever-categories category-color-1" href="{{ path('app_da_post_category_detail', { postCategoryUrl : category.postCategoryUrl }) }}" alt="Voir toutes les actualitées">
																		{{ category.categoryTitle }}
																	</a>
																</li>
															{% endfor %}
														</ul>
													</div>
													<div class="read-title">
														<h4>
															<a href="{{ path('app_da_post_detail', { postUrl : post.postUrl } ) }}">{{ post.postTitle | raw }}</a>
														</h4>
													</div>
													<div class="entry-meta">

														<span class="author-links">

															<span class="item-metadata posts-date">
																<i class="fa fa-clock-o"></i>
																{% if post.postPublishedAt %}
																		{{ post.postPublishedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}
																	{% else %}
																		{{ post.postCreatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}
																	{% endif %}
															</span>

															<span class="item-metadata posts-author byline">
																<i class="fa fa-pencil-square-o"></i>
																<a href="{{ path('app_da_user_post', { userName : post.user } ) }}">
																	{{ post.user.userFullname }}
																</a>
															</span>
														</span>
													</div>

													<div class="read-descprition full-item-discription">
														<div class="post-description">
															{{ post.postTitle | raw}}
														</div>
													</div>


												</div>
											</div>
										</div>


									</article>
								{% endfor %}

							</div>

							<div class="col-1">
								<div class="newsever-pagination">
									<h2 class="screen-reader-text">Navigation des articles</h2>
									{% do posts.setPageRange(2) %}
									{{ knp_pagination_render(posts, "partials/layouts/front/_pagination.html.twig") }}
								</div>
							</div>
						</main>
						<!-- #main -->
					</div>
					<!-- #primary -->


					<div id="secondary" class="sidebar-area aft-sticky-sidebar">
						<div class="theiaStickySidebar">
							<aside class="widget-area color-pad">
								<div id="search-2" class="widget newsever-widget widget_search">
									<form role="search" method="get" class="search-form" action="{{ path('app_da_search') }}">
										<label>
											<span class="screen-reader-text">Rechercher :</span>
											<input type="search" class="search-field" placeholder="Rechercher…" value="" name="s"/>
										</label>
										<input type="submit" class="search-submit" value="Rechercher"/>
									</form>
								</div>
								{# {% include "front/aside-news.html..twig" %} 
							</aside>
						</div>
					</div>
				</div>


			</div>
#}

{# {% include "front/_to-read-more.html.twig" %} 

			{% include "partials/layouts/front/_footer.html.twig" %}
		</div>

		{# {% include "partials/layouts/front/_scroll-up.html.twig" %} #}
{# {% include "partials/layouts/front/_pop-up-login.html.twig" %} 


	{% endblock %}
</body>

{# {% block javascript %}
	<script>
document.title = "DAILY AFRICA | Auteur : {{ daUser.userFullname }}"

	</script>
{% endblock %} #}
{% include "partials/base2.html.twig" %}

{% include "partials/layouts/front/_header.html.twig" %}

<h1>
			<center>{{ daUser.userFullname }}</center>
		</h1>
<br>
	<div class="en-container">
		
		<section class="en-front-widget-5 en-standard-section-spacing">
			<div class="row">
				{% for post in posts %}
					<div class="col">

						<div class="card" style="width: 18rem;">
							<a href="{{ path('app_da_post_detail', { postUrl : post.postUrl } ) }}">
								<img width="220" height="230" src="{{ vich_uploader_asset(post) | imagine_filter('CATEGORY_SHOW') }}" class="attachment-medium size-medium wp-post-image" alt=""/>
							</a>
							<div class="entry-cats">
								<ul class="post-categories">
									{% for category in post.categories %}
										<li>
											<a href="{{ path('app_da_post_category_detail', { postCategoryUrl : category.postCategoryUrl }) }}" alt="Voir toutes les actualitées">
												{{ category.categoryTitle }}
											</a>
										</li>
									{% endfor %}

								</ul>
							</div>
							<div class="card-body">
								<h5 class="card-title">
									<a href="{{ path('app_da_post_detail', { postUrl : post.postUrl } ) }}">{{ post.postTitle | raw }}</a>
								</h5>
								<div class="entry-meta">
									<ul class="metas">
										<li class="posted-date clr-special">
											<i class="far fa-clock"></i>
											<a href="" rel="bookmark">
												<time class="entry-date published updated" datetime="2018-11-12T12:35:14+01:00">{{ post.postCreatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}</time>
											</a>
										</li>
										<!-- .posted-date.clr-white -->
										<li class="author clr-special">
											<i class="fas fa-user"></i>
											<a href="{{ path('app_da_user_post', { userName : post.user } ) }}">
												{{ post.user.userFullname }}</a>
										</li>
										<!-- .author.clr-white -->
									</ul>
									<!-- .metas -->
								</div>
							</div>
						</div>

					</div>
				{% endfor %}
			</div>
		</section>


		{# <div class="col-1">
										<div class="newsever-pagination">
											<h2 class="screen-reader-text">Navigation des articles</h2>
											{% do posts.setPageRange(2) %}
											{{ knp_pagination_render(posts, "partials/layouts/front/_pagination.html.twig") }}
										</div>
									</div> #}

		
	</div>

{% include "partials/layouts/front/_footer.html.twig" %}