{% include "partials/base2.html.twig" %} 
 {% include "partials/layouts/front/_header.html.twig" %} 
 <div class="en-container">
 <div class="row">
		<div class="col-md-5">
			<img width="800" height="533" src="{{ vich_uploader_asset(postDetail) | imagine_filter('NEW_DETAIL') }}" class="attachment-newsever-featured size-newsever-featured wp-post-image" alt="" loading="lazy" sizes="(max-width: 800px) 100vw, 800px"/>
		</div>
		<div class="col-md-7 my-auto">
			<h3>{{ postDetail.postTitle | raw }}</h3>
			<div class="entry-cats">
														<ul class="post-categories">
															{% for category in postDetail.categories %}
																<li>
																<a href="{{ path('app_da_post_category_detail', { postCategoryUrl : category.postCategoryUrl }) }}" alt="Voir toutes les actualitées">
													{{ category.categoryTitle }}
												</a>
																</li>
															{% endfor %}

														</ul>
													</div>
			
			<hr>
		<p>{{ postDetail.postContent | raw }}</p>
				<div class="entry-meta">
														<ul class="metas">
															<li class="posted-date clr-special">
																<i class="far fa-clock"></i>
																 <a href="" rel="bookmark">
																	<time class="entry-date published updated" datetime="2018-11-12T12:35:14+01:00">{{ postDetail.postCreatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}</time>
																</a> 
															</li>
															<!-- .posted-date.clr-white -->
															<li class="author clr-special">
																<i class="fas fa-user"></i>
															<a href="{{ path('app_da_user_post', { userName : postDetail.user } ) }}">
													{{ postDetail.user.userFullname }}</a>
															</li>
															<!-- .author.clr-white -->
														</ul>
														<!-- .metas -->
													</div>
		</div>
	</div>
	<br>
	{% include "front/_to-read-more.html.twig" %}   
	</div>
	<hr>
 {% include "partials/layouts/front/_footer.html.twig" %} 