<footer class="footer">
	<div class="footer-inner">
		<div class="en-container">
			<div class="top-footer">
				<div class="en-row">
					<div class="en-col">
						<div id="text-1" class="widget widget_text">
							
							<div class="textwidget">
								<p><img decoding="async" loading="lazy" class="alignnone size-full wp-image-788" src="{{ asset('assets/basefront/images/logo africa entrepreneurship FINAL-03.png')}}" alt="" width="285" height="90"/></p>
								
							</div>
						</div>
					</div>
					<div class="en-col">
						<div id="tag_cloud-1" class="widget widget_tag_cloud">
							<div class="widget-title">
								<h3>Rubriques</h3>
							</div>
							<div class="tagcloud">
								<a href="/category/investir-en-afrique" class="tag-cloud-link tag-link-38 tag-link-position-1" style="font-size: 8pt;" aria-label="blue dress (1 élément)">Investir en Afrique</a>
								<a href="/category/gestion-d-entreprise" class="tag-cloud-link tag-link-79 tag-link-position-2" style="font-size: 22pt;" aria-label="exercise (3 éléments)">Gestion d'entreprise</a>
								<a href="/category/startup" class="tag-cloud-link tag-link-160 tag-link-position-3" style="font-size: 8pt;" aria-label="photograph (1 élément)">Startup</a>
								<a href="/category/portrait" class="tag-cloud-link tag-link-193 tag-link-position-4" style="font-size: 16.4pt;" aria-label="travel (2 éléments)">Portrait</a>
								<a href="/category/financement" class="tag-cloud-link tag-link-38 tag-link-position-1" style="font-size: 8pt;" aria-label="blue dress (1 élément)">Financement</a>
								<a href="/category/juridique-et-fiscalite" class="tag-cloud-link tag-link-79 tag-link-position-2" style="font-size: 22pt;" aria-label="exercise (3 éléments)">Juridique et Fiscalité</a>
								<a href="/category/entreprendre" class="tag-cloud-link tag-link-160 tag-link-position-3" style="font-size: 8pt;" aria-label="photograph (1 élément)">Entreprendre</a>
							</div>
						</div>
					</div>
					<div class="en-col">
						<div class="en-postwidget en-trending-posts-widget widget">
							<div class="widget-title">
								<h3>Les plus récents</h3>
							</div>
							<!-- .widget-title -->
							<div class="widgets-contents-entry">
								{% for flashNew in flashNews %}
									<article class="box">

										<div class="left-box">
											<div class="thumb">
												<a href="{{ path('app_da_post_detail', { postUrl : flashNew.postUrl } ) }}">
													<img width="150" height="150" src="{{ vich_uploader_asset(flashNew) | imagine_filter('FLASH_NEWS') }}" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" loading="lazy"/>
												</a>
											
											</div>
											<!-- .thumb -->
										</div>
										<!-- .left-box -->
										<div class="right-box">
											<div class="content-holder">
												<div class="entry-cats">
														<ul class="post-categories">
															{% for category in flashNew.categories %}
																<li>
																	<a href="{{ path('app_da_post_category_detail', { postCategoryUrl : category.postCategoryUrl }) }}" alt="Voir toutes les actualitées">
																		{{ category.categoryTitle }}</li>
																{% endfor %}

															</ul>
														</div>
														<br>
												<div class="entry-title">
													<h3 class="post-title f-size-s clr-primary">
														<a href="{{ path('app_da_post_detail', { postUrl : flashNew.postUrl } ) }}">{{ flashNew.postTitle | raw }}
														</a>
													</h3>
												</div>
												<div class="entry-meta">
																<ul class="metas">
																	<li class="posted-date clr-special">
																		<i class="far fa-clock"></i>
																		<a href="" rel="bookmark">
																			<time class="entry-date published updated" datetime="2018-11-12T12:35:14+01:00">{{ flashNew.postCreatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}</time>
																		</a>
																	</li>
																	<!-- .posted-date.clr-white -->
																	<li class="author clr-special">
																		<i class="fas fa-user"></i>
																		<a href="{{ path('app_da_user_post', { userName : flashNew.user } ) }}">
																			{{ flashNew.user.userFullname }}</a>
																	</li>
																	<!-- .posted-date.clr-white -->
																</ul>
																<!-- .metas -->
															</div>
												<!-- .entry-title -->

												<!-- .entry-meta -->
											</div>
											<!-- .content-holder -->
										</div>
										<!-- .right-box -->
									</article>


								{% endfor %}
							</div>
							<!-- .widgets-contents-entry -->
						</div>
						<!-- .en-postwidget.en-trending-posts-widget.widget -->
					</div>
				</div>
				<!-- .en-row -->
			</div>
			<!-- .top-footer -->
			<div class="bottom-footer">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="copyright-notice">
							<p>
								Copyright &copy; AFRICA ENTREPRENEURSHIP -
								<a href="">Gate Company International.</a>
							</p>
						</div>
					</div>
					<!-- .col -->
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="footer-navigation"></div>
					</div>
					<!-- .col -->
				</div>
				<!-- .row -->
			</div>
			<!-- .bottom-footer -->
		</div>
		<!-- .en-container -->
	</div>
	<!-- .footer-inner -->
</footer>
