{% include "partials/base2.html.twig" %} 
{% block body %}
	<header class="en-general-header header-lay-2 en-standard-section-spacing">
				<div class="header-inner">
					<div class="header-top-wrapper">
						<div class="en-container">
							<div class="en-row">
								<div class="en-col category-nav-col">
									<div class="category-navigation"></div>
									<!-- .category-navigation -->
								</div>
								<!-- .en-col.category-nav-col -->
								<div class="en-col social-col">
									<ul class="social-icons-list">
										<li class="facebook">
											<a href="https://www.facebook.com/everestthemes/">
												<i class="fab fa-facebook-f"></i>
											</a>
										</li>
										<li class="twitter">
											<a href="https://twitter.com">
												<i class="fab fa-twitter"></i>
											</a>
										</li>
										<li class="instagram">
											<a href="https://instagram.com">
												<i class="fab fa-instagram"></i>
											</a>
										</li>
										<li class="vk">
											<a href="https://vk.com">
												<i class="fab fa-vk"></i>
											</a>
										</li>
										<li class="linkedin">
											<a href="https://linkedin.com">
												<i class="fab fa-linkedin-in"></i>
											</a>
										</li>
										<li class="pinterest">
											<a href="https://pinterest.com">
												<i class="fab fa-pinterest-p"></i>
											</a>
										</li>
										<li class="reddit">
											<a href="https://reddit.com">
												<i class="fab fa-reddit-alien"></i>
											</a>
										</li>
										<li class="googleplus">
											<a href="https://plus.google.com">
												<i class="fab fa-google-plus-g"></i>
											</a>
										</li>
										<li class="quora">
											<a href="https://quora.com">
												<i class="fab fa-quora"></i>
											</a>
										</li>
									</ul>
									<!-- .social-icons-list -->
								</div>
								<!-- .en-col.social-col -->
							</div>
							<!-- .en-row -->
						</div>
						<!-- .en-container -->
					</div>
					<!-- .header-top-wrapper -->
					<div class="header-logo-advt-wrapper">
						<div class="en-container">
							<div class="en-row">
								<div class="en-col logo-col">
									<div class="branding-col">
										<a href="/" class="custom-logo-link" rel="home" aria-current="page"><img width="285" height="90" src="{{ asset('assets/basefront/images/logo africa entrepreneurship FINAL-03.png') }} " class="custom-logo" alt="AfricaEntrepreneurshipLogo" decoding="async"/></a>
									</div>
									<!-- .branding-col -->
								</div>
								<!-- .en-col.logo-col -->
								<div class="en-col advt-col">
									<div id="media_image-1" class="widget widget_media_image">
										<a href=""><img width="728" height="90" src="{{ asset('assets/basefront/images/ban.png')}} " class="image wp-image-843  attachment-full size-full" alt="" decoding="async" loading="lazy" style="max-width: 100%; height: auto;" srcset="{{ asset('assets/basefront/images/ban.png')}} 728w, {{ asset('assets/basefront/images/ban.png')}} 300w" sizes="(max-width: 728px) 100vw, 728px"/></a>
									</div>
								</div>
								<!-- .en-col -->
							</div>
							<!-- .en-row.advt-col -->
						</div>
						<!-- .en-container -->
					</div>
					<!-- .header-logo-advt-wrapper -->
					<div class="header-nav-extra-wrapper">
						<div class="en-container">
							<div class="en-row">
								<div class="en-col nav-col">
									<div class="primary-menu-wrap">
										<div class="main-navigation" id="main-menu">
											<ul id="primary-menu" class="menu">
										<li id="menu-item-692" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-692">
											<a href=""><img src="{{ asset('assets/basefront/images/icons8_home_32.png') }} " alt="home" width="20px;"></a>
										</li>
                                        <li id="menu-item-692" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-692">
											<a href="/">Acceuil</a>
										</li>
										<li id="menu-item-703" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-703">
											<a href="#">Rubriques</a>
											<ul class="sub-menu">
												<li id="menu-item-693" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-693">
													<a href="{{ path('app_da_post_category_detail', { postCategoryUrl : 'entreprendre' }) }}">Entreprendre</a>
												</li>
                                                <li id="menu-item-693" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-693">
													<a href="{{ path('app_da_post_category_detail', { postCategoryUrl : 'juridique-et-fiscalité' }) }}">Juridique et Fiscalité</a>
												</li>
												<li id="menu-item-696" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-696">
													<a href="{{ path('app_da_post_category_detail', { postCategoryUrl : 'portrait' }) }}">Portrait</a>
												</li>
												<li id="menu-item-694" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-694">
													<a href="{{ path('app_da_post_category_detail', { postCategoryUrl : 'gestion-d-entreprise' }) }}">Gestion d'entreprise</a>
												</li>
												<li id="menu-item-698" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-698">
													<a href="{{ path('app_da_post_category_detail', { postCategoryUrl : 'startup' }) }}">Startup</a>
												</li>
												<li id="menu-item-65" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-65">
													<a href="{{ path('app_da_post_category_detail', { postCategoryUrl : 'investir-en-afrique' }) }}">Investir en Afrique</a>
												</li>
												<li id="menu-item-697" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-697">
													<a href="{{ path('app_da_post_category_detail', { postCategoryUrl : 'financement' }) }}">Financement</a>
												</li>
											</ul>
										</li>
										<li id="menu-item-695" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-695">
											<a href="{{ path('app_da_post_category_detail', { postCategoryUrl : 'divers' }) }}">A propos</a>
										</li>
										<li id="menu-item-700" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-700">
											<a href="{{ path('app_da_post_category_detail', { postCategoryUrl : 'grand-dossier' }) }}">Contact</a>
										</li>
										<li id="menu-item-701" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-701">
											<a href="{{ path('app_da_post_category_detail', { postCategoryUrl : 'videos' }) }}">S'inscrire</a>
										</li>
									
									</ul>
										</div>
										<!-- #main-menu.main-navigation -->
										<div class="header-search">
											<a id="search-toggle" href="javascript:;">
												<i class="icon ion-ios-search"></i>
											</a>
											<div id="header-search">
												<form role="search" method="get" id="search-form" class="clearfix" action="{{ path('app_da_search') }}"><input type="search" name="s" placeholder="Type Something" value ""><input type="submit" id="submit" value="Search"></form>
											</div>
											<!-- .header_search -->
										</div>
										<!-- .header-search -->
									</div>
									<!-- .primary-menu-wrap -->
								</div>
								<!-- .en-col.nav-col -->
							</div>
							<!-- .en-row -->
						</div>
						<!-- .en-container -->
					</div>
					<!-- .header-nav-extra-wrapper -->
				</div>
				<!-- .header-inner -->
			</header><body></body>
			
				<script type='text/javascript' src='{{ asset('assets/basefront/js/zqq-imagesloaded.min.js') }} ' id='imagesloaded-js'></script>
				<script type='text/javascript' src='{{ asset('assets/basefront/js/eec-masonry.min.js') }} ' id='masonry-js'></script>
				<script type='text/javascript' src='{{ asset('assets/basefront/js/everest-news-assets-dist-js-bundle.min.js') }} ' id='everest-news-bundle-js'></script>
			
		
{% endblock %}
