{% if not app.user %}
	<div class="xoo-el-container" style="visibility: hidden;">
		<div class="xoo-el-opac"></div>
		<div class="xoo-el-modal">
			<div class="xoo-el-inmodal">
				<span class="xoo-el-close xoo-el-icon-cancel-circle"></span>
				<div class="xoo-el-wrap">
					<div class="xoo-el-sidebar"></div>
					<div class="xoo-el-srcont">
						<div class="xoo-el-main">

							<div class="xoo-el-form-container xoo-el-form-popup" data-active="login">


								<div class="xoo-el-header">
									<ul class="xoo-el-tabs">

										<li data-tab="login" class="xoo-el-login-tgr">Connexion</li>


										<li onclick="document.location='/register'" class="xoo-el-reg-tgr">S'inscrire</li>
										{# <li data-tab="register" onclick="document.location='/register'" class="xoo-el-reg-tgr">S'inscrire</li> #}


									</ul>
								</div>

								<p style="border:1px solid red; background-color: #990033;display: none;color:white;" id="content-msg-outer" align="center" class="form-control">
									<span align="center">
										<b id="content-msg"></b>
									</span>
								</p>


								<div data-section="login" class="xoo-el-section">

									<div class="xoo-el-fields">

										<div class="xoo-el-notice"></div>
										<form class="xoo-el-action-form xoo-el-form-login">


											<div class="xoo-aff-group xoo-el-username_cont">
												<div class="xoo-aff-input-group">
													<span class="xoo-aff-input-icon far fa-user"></span><input type="text" class="xoo-aff-required xoo-aff-text" name="xoo-el-username" placeholder="Username / Email" value="" autocomplete="email" required="	" id="user_email"/></div>
											</div>
											<div class="xoo-aff-group xoo-el-password_cont">
												<div class="xoo-aff-input-group">
													<span class="xoo-aff-input-icon fas fa-key"></span><input type="password" class="xoo-aff-required xoo-aff-password" name="xoo-el-password" placeholder="Password" value="" required="	" id="user_password"/></div>
											</div>
											<div class="xoo-aff-group xoo-el-login-btm-fields">
												<label class="xoo-el-form-label">
													<input type="checkbox" name="xoo-el-rememberme" value="forever"/>
													<span>Souviens de moi!</span>
												</label>
												<a class="xoo-el-lostpw-tgr">Mot de passe oublié?</a>
											</div>


											<input type="hidden" name="_xoo_el_form" value="login">

											<button type="submit" id="login_submit" class="button btn xoo-el-action-btn xoo-el-login-btn">S'identifier</button>

											<input type="hidden" name="xoo_el_redirect" value="/">

										</form>


									</div>

								</div>


								<div
									class="xoo-el-section">
									{# <div data-section="register" class="xoo-el-section"> #}

									<div class="xoo-el-fields">

										<div class="xoo-el-notice"></div>
										<p style="border:1px solid red; background-color: #990033;display: none;color:white;" id="content-msg-outer" align="center" class="form-control">
											<span align="center">
												<b id="content-msg"></b>
											</span>
										</p>
										<form class="xoo-el-action-form xoo-el-form-register">


											<div class="xoo-aff-fields">
												<div class="xoo-aff-group xoo-aff-cont-email one xoo-aff-cont-required xoo_el_reg_email_cont">
													<div class="xoo-aff-input-group">
														<span class="xoo-aff-input-icon fas fa-at"></span><input type="email" class="xoo-aff-required xoo-aff-email" name="xoo_el_reg_email" placeholder="Email" value="" id="user_emailI" autocomplete="email" required="	"/></div>
												</div>

												<div class="xoo-aff-group xoo-aff-cont-username one xoo-aff-cont-required xoo_el_reg_email_cont">
													<div class="xoo-aff-input-group">
														<span class="xoo-aff-input-icon fas fa-user"></span><input type="text" class="xoo-aff-required xoo-aff-user" name="xoo_el_reg_username" placeholder="Nom d'utilisateur" value="" id="user_nameI" autocomplete="false" required="	"/></div>
												</div>

												<div class="xoo-aff-group xoo-aff-cont-password one xoo-aff-cont-required xoo_el_reg_pass_cont">
													<div class="xoo-aff-input-group">
														<span class="xoo-aff-input-icon fas fa-key"></span><input type="password" class="xoo-aff-required xoo-aff-password" name="xoo_el_reg_pass" placeholder="Password" value="" id="user_mdpI" maxlength="20" minlength="6" autocomplete="new-password" required="	"/></div>
												</div>
												<div class="xoo-aff-group xoo-aff-cont-password one xoo-aff-cont-required xoo_el_reg_pass_again_cont">
													<div class="xoo-aff-input-group">
														<span class="xoo-aff-input-icon fas fa-key"></span><input type="password" class="xoo-aff-required xoo-aff-password" name="xoo_el_reg_pass_again" id="user_mpdcI" placeholder="Confirm Password" value="" autocomplete="new-password" required="	"/></div>
												</div>
												<div class="xoo-aff-group xoo-aff-cont-checkbox_single one xoo-aff-cont-required xoo_el_reg_terms_cont">
													<div class="xoo-aff-required xoo-aff-checkbox_single">
														<label><input type="checkbox" name="xoo_el_reg_terms" class="xoo-aff-required xoo-aff-checkbox_single" value="yes">J'accepte le
															<a href="">
																Conditions d'utilisation et politique de confidentialité
															</a>
														</label>
													</div>
												</div>
											</div>
											<input type="hidden" name="_xoo_el_form" value="register">


											<button type="submit" id='signup_button' class="button btn xoo-el-action-btn xoo-el-register-btn">S'inscrire</button>

											{# <button type="submit" onclick="document.location='/register'" id='signup_button' class="button btn xoo-el-action-btn xoo-el-register-btn">S'inscrire</button> #}

											<input type="hidden" name="xoo_el_redirect" value="/">

										</form>


									</div>

								</div>


								<div data-section="lostpw" class="xoo-el-section">

									<div class="xoo-el-fields">

										<div class="xoo-el-notice"></div>
										<form class="xoo-el-action-form xoo-el-form-lostpw">


											<span class="xoo-el-form-txt">Mot de passe perdu? Veuillez saisir votre identifiant ou adresse mail. Vous recevrez un lien pour créer un nouveau mot de passe par e-mail.</span>

											<div class="xoo-aff-group user_login_cont">
												<div class="xoo-aff-input-group">
													<span class="xoo-aff-input-icon fas fa-key"></span><input type="text" class="xoo-aff-required xoo-aff-text" name="user_login" placeholder="Username / Email" value="" required="	"/></div>
											</div>

											<input type="hidden" name="_xoo_el_form" value="lostPassword">

											<input type="hidden" name="_wp_http_referer" value="/"/>
											<button type="submit" class="button btn xoo-el-action-btn xoo-el-lostpw-btn">Lien de réinitialisation de l'e-mail</button>

										</form>


									</div>

								</div>


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script type="text/javascript">

		// LOGIN
var url_login = "{{ path('app_login') }}";
var registration_front = "{{ path('app_registration_front') }}";


var url_admin = "{{ path('admin') }}";
var url_journalist = "{{ path('journalist') }}";
jQuery(function () {


// INSCRIPTION

// jQuery('#signup_button').click(function (e) {
// e.preventDefault();
// jQuery("#content-msg-outer").hide();
// var user_emailI = jQuery('#user_emailI').val();
// var user_nameI = jQuery('#user_nameI').val();
// var user_mdpI = jQuery('#user_mdpI').val();
// var user_mpdcI = jQuery('#user_mpdcI').val();


// if (user_mdpI !== user_mpdcI	) {
// jQuery("#content-msg-outer").show();
// jQuery('#content-msg').text('les mots de passe ne correspondent pas');
// jQuery('#gn-loader').hide();
// return;
// } else {

// var data_send_registration = JSON.stringify(
// {
// user_emailI: user_emailI,
// user_nameI: user_nameI,
// user_mdpI: user_mdpI
// }
// );
// jQuery.ajax(
// {
// url: registration_front,
// type: 'POST',
// contentType: "application/json",
// dataType: 'json',
// data: data_send_registration,

// success: function(data){
//     				jQuery("#content-msg-outer").show();
// jQuery('#content-msg').text(data.message);
// jQuery('#gn-loader').hide();
// },
// beforeSend: function(data){
// console.log(this);
// },

// error: function (data, status, object) {
// jQuery("#content-msg-outer").show();
// jQuery('#content-msg').text("Erreur d'inscription, Réessayer");
// jQuery('#gn-loader').hide();
// }
// });

// }


// });


// CONNEXION


jQuery('#login_submit').click(function (e) {
e.preventDefault();
jQuery("#content-msg-outer").hide();
var email = jQuery('#user_email').val();
var password = jQuery('#user_password').val();
var url_redirect = jQuery(this).data('urlredirect');
var data_send = JSON.stringify({email: email, password: password});
console.log(data_send);
console.log(url_login);

jQuery.ajax({
url: url_login,
type: 'POST',
contentType: "application/json",
dataType: 'json',
data: data_send,

success: function (data, status) {
console.log(data);
jQuery('#gn-loader').hide();

if (data.user > 0) {
if (data.isAdmin) 
window.location = url_admin;
 else if (data.isAuthor) 
window.location = url_journalist;
 else 
window.location.reload();



}
},

beforeSend: function () {
jQuery('#gn-loader').show();
},

error: function (data, status, object) {
console.log("DATA", data);
jQuery("#content-msg-outer").show();
jQuery('#content-msg').text('Identifiants invalides');
jQuery('#gn-loader').hide();
}

});
});
});
	</script>

{% endif %}
