<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="profile" href="http://gmpg.org/xfn/11">
		<title>
			{% block title %}Africa-Entrepreneurship | 
			{% endblock %}
		</title>

		<style>
			type="text/css" .heateor_sss_button_instagram span.heateor_sss_svg,
			a.heateor_sss_instagram span.heateor_sss_svg {
				background: radial-gradient(circle at 30% 107%,#fdf497 0,#fdf497 5%,#fd5949 45%,#d6249f 60%,#285aeb 90%)
			}
			.heateor_sss_horizontal_sharing .heateor_sss_svg,
			.heateor_sss_standard_follow_icons_container .heateor_sss_svg {
				color: #fff;
				border-width: 0;
				border-style: solid;
				border-color: transparent;
			}
			.heateor_sss_horizontal_sharing .heateorSssTCBackground {
				color: #666;
			}
			.heateor_sss_horizontal_sharing span.heateor_sss_svg:hover,
			.heateor_sss_standard_follow_icons_container span.heateor_sss_svg:hover {
				border-color: transparent;
			}
			.heateor_sss_vertical_sharing span.heateor_sss_svg,
			.heateor_sss_floating_follow_icons_container span.heateor_sss_svg {
				color: #fff;
				border-width: 0;
				border-style: solid;
				border-color: transparent;
			}
			.heateor_sss_vertical_sharing .heateorSssTCBackground {
				color: #666;
			}
			.heateor_sss_vertical_sharing span.heateor_sss_svg:hover,
			.heateor_sss_floating_follow_icons_container span.heateor_sss_svg:hover {
				border-color: transparent;
			}
			@media screen and(max-width:783px) {
				.heateor_sss_vertical_sharing {
					display: none !important
				}
			}
		</style>
		<meta name='robots' content='max-image-preview:large'/>
		

		<style type="text/css"> img.wp-smiley,

			img.emoji {
				display: inline !important;
				border: none !important;
				box-shadow: none !important;
				height: 1em !important;
				width: 1em !important;
				margin: 0 0.07em !important;
				vertical-align: -0.1em !important;
				background: none !important;
				padding: 0 !important;
			}
		</style>
		<link rel='stylesheet' id='wp-block-library-css' href='{{ asset('assets/_front/css/dist-block-library-style.min.css') }}' type='text/css' media='all'/>

		<style id='global-styles-inline-css' type='text/css'>
			body {
				--wp--preset--color--black: #000000;
				--wp--preset--color--cyan-bluish-gray: #abb8c3;
				--wp--preset--color--white: #ffffff;
				--wp--preset--color--pale-pink: #f78da7;
				--wp--preset--color--vivid-red: #cf2e2e;
				--wp--preset--color--luminous-vivid-orange: #ff6900;
				--wp--preset--color--luminous-vivid-amber: #fcb900;
				--wp--preset--color--light-green-cyan: #7bdcb5;
				--wp--preset--color--vivid-green-cyan: #00d084;
				--wp--preset--color--pale-cyan-blue: #8ed1fc;
				--wp--preset--color--vivid-cyan-blue: #0693e3;
				--wp--preset--color--vivid-purple: #9b51e0;
				--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgba(6,147,227,1) 0%,rgb(155,81,224) 100%);
				--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);
				--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);
				--wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgba(255,105,0,1) 0%,rgb(207,46,46) 100%);
				--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);
				--wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);
				--wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%);
				--wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%);
				--wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%);
				--wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%);
				--wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%);
				--wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);
				--wp--preset--duotone--dark-grayscale: url('#wp-duotone-dark-grayscale');
				--wp--preset--duotone--grayscale: url('#wp-duotone-grayscale');
				--wp--preset--duotone--purple-yellow: url('#wp-duotone-purple-yellow');
				--wp--preset--duotone--blue-red: url('#wp-duotone-blue-red');
				--wp--preset--duotone--midnight: url('#wp-duotone-midnight');
				--wp--preset--duotone--magenta-yellow: url('#wp-duotone-magenta-yellow');
				--wp--preset--duotone--purple-green: url('#wp-duotone-purple-green');
				--wp--preset--duotone--blue-orange: url('#wp-duotone-blue-orange');
				--wp--preset--font-size--small: 13px;
				--wp--preset--font-size--medium: 20px;
				--wp--preset--font-size--large: 36px;
				--wp--preset--font-size--x-large: 42px;
			}
			.has-black-color {
				color: var(--wp--preset--color--black) !important;
			}
			.has-cyan-bluish-gray-color {
				color: var(--wp--preset--color--cyan-bluish-gray) !important;
			}
			.has-white-color {
				color: var(--wp--preset--color--white) !important;
			}
			.has-pale-pink-color {
				color: var(--wp--preset--color--pale-pink) !important;
			}
			.has-vivid-red-color {
				color: var(--wp--preset--color--vivid-red) !important;
			}
			.has-luminous-vivid-orange-color {
				color: var(--wp--preset--color--luminous-vivid-orange) !important;
			}
			.has-luminous-vivid-amber-color {
				color: var(--wp--preset--color--luminous-vivid-amber) !important;
			}
			.has-light-green-cyan-color {
				color: var(--wp--preset--color--light-green-cyan) !important;
			}
			.has-vivid-green-cyan-color {
				color: var(--wp--preset--color--vivid-green-cyan) !important;
			}
			.has-pale-cyan-blue-color {
				color: var(--wp--preset--color--pale-cyan-blue) !important;
			}
			.has-vivid-cyan-blue-color {
				color: var(--wp--preset--color--vivid-cyan-blue) !important;
			}
			.has-vivid-purple-color {
				color: var(--wp--preset--color--vivid-purple) !important;
			}
			.has-black-background-color {
				background-color: var(--wp--preset--color--black) !important;
			}
			.has-cyan-bluish-gray-background-color {
				background-color: var(--wp--preset--color--cyan-bluish-gray) !important;
			}
			.has-white-background-color {
				background-color: var(--wp--preset--color--white) !important;
			}
			.has-pale-pink-background-color {
				background-color: var(--wp--preset--color--pale-pink) !important;
			}
			.has-vivid-red-background-color {
				background-color: var(--wp--preset--color--vivid-red) !important;
			}
			.has-luminous-vivid-orange-background-color {
				background-color: var(--wp--preset--color--luminous-vivid-orange) !important;
			}
			.has-luminous-vivid-amber-background-color {
				background-color: var(--wp--preset--color--luminous-vivid-amber) !important;
			}
			.has-light-green-cyan-background-color {
				background-color: var(--wp--preset--color--light-green-cyan) !important;
			}
			.has-vivid-green-cyan-background-color {
				background-color: var(--wp--preset--color--vivid-green-cyan) !important;
			}
			.has-pale-cyan-blue-background-color {
				background-color: var(--wp--preset--color--pale-cyan-blue) !important;
			}
			.has-vivid-cyan-blue-background-color {
				background-color: var(--wp--preset--color--vivid-cyan-blue) !important;
			}
			.has-vivid-purple-background-color {
				background-color: var(--wp--preset--color--vivid-purple) !important;
			}
			.has-black-border-color {
				border-color: var(--wp--preset--color--black) !important;
			}
			.has-cyan-bluish-gray-border-color {
				border-color: var(--wp--preset--color--cyan-bluish-gray) !important;
			}
			.has-white-border-color {
				border-color: var(--wp--preset--color--white) !important;
			}
			.has-pale-pink-border-color {
				border-color: var(--wp--preset--color--pale-pink) !important;
			}
			.has-vivid-red-border-color {
				border-color: var(--wp--preset--color--vivid-red) !important;
			}
			.has-luminous-vivid-orange-border-color {
				border-color: var(--wp--preset--color--luminous-vivid-orange) !important;
			}
			.has-luminous-vivid-amber-border-color {
				border-color: var(--wp--preset--color--luminous-vivid-amber) !important;
			}
			.has-light-green-cyan-border-color {
				border-color: var(--wp--preset--color--light-green-cyan) !important;
			}
			.has-vivid-green-cyan-border-color {
				border-color: var(--wp--preset--color--vivid-green-cyan) !important;
			}
			.has-pale-cyan-blue-border-color {
				border-color: var(--wp--preset--color--pale-cyan-blue) !important;
			}
			.has-vivid-cyan-blue-border-color {
				border-color: var(--wp--preset--color--vivid-cyan-blue) !important;
			}
			.has-vivid-purple-border-color {
				border-color: var(--wp--preset--color--vivid-purple) !important;
			}
			.has-vivid-cyan-blue-to-vivid-purple-gradient-background {
				background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;
			}
			.has-light-green-cyan-to-vivid-green-cyan-gradient-background {
				background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;
			}
			.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
				background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;
			}
			.has-luminous-vivid-orange-to-vivid-red-gradient-background {
				background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;
			}
			.has-very-light-gray-to-cyan-bluish-gray-gradient-background {
				background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;
			}
			.has-cool-to-warm-spectrum-gradient-background {
				background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;
			}
			.has-blush-light-purple-gradient-background {
				background: var(--wp--preset--gradient--blush-light-purple) !important;
			}
			.has-blush-bordeaux-gradient-background {
				background: var(--wp--preset--gradient--blush-bordeaux) !important;
			}
			.has-luminous-dusk-gradient-background {
				background: var(--wp--preset--gradient--luminous-dusk) !important;
			}
			.has-pale-ocean-gradient-background {
				background: var(--wp--preset--gradient--pale-ocean) !important;
			}
			.has-electric-grass-gradient-background {
				background: var(--wp--preset--gradient--electric-grass) !important;
			}
			.has-midnight-gradient-background {
				background: var(--wp--preset--gradient--midnight) !important;
			}
			.has-small-font-size {
				font-size: var(--wp--preset--font-size--small) !important;
			}
			.has-medium-font-size {
				font-size: var(--wp--preset--font-size--medium) !important;
			}
			.has-large-font-size {
				font-size: var(--wp--preset--font-size--large) !important;
			}
			.has-x-large-font-size {
				font-size: var(--wp--preset--font-size--x-large) !important;
			}
		</style>
		<link rel='stylesheet' id='wp-ulike-css' href='{{ asset('assets/_front/css/wp-ulike-assets-css-wp-ulike.min.css') }}' type='text/css' media='all'/>
		<link rel='stylesheet' id='xoo-el-style-css' href='{{ asset('assets/_front/css/easy-login-woocommerce-assets-css-xoo-el-style.css') }}' type='text/css' media='all'/>

		<style id='xoo-el-style-inline-css' type='text/css'>


			.xoo-el-inmodal {
				max-width: 800px;
				max-height: 600px;
			}
			.xoo-el-sidebar {
				background-image: url('{{ asset('assets/_front/images/Daily-africa-01-01-1.png') }}');
				min-width: 50%;
			}
			.xoo-el-main,
			.xoo-el-main a,
			.xoo-el-main label {
				color: #000000;
			}
			.xoo-el-srcont {
				background-color: #ffffff;
			}
			.xoo-el-form-container ul.xoo-el-tabs li.xoo-el-active {
				background-color: #f28e1c;
				color: #ffffff;
			}
			.xoo-el-form-container ul.xoo-el-tabs li {
				background-color: #eeeeee;
				color: #f28e1c;
			}
			.xoo-el-main {
				padding: 40px 30px;
			}

			.xoo-el-form-container button.xoo-el-action-btn:not(.button) {
				font-weight: 600;
				font-size: 15px;
			}


			.xoo-el-modal:before {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
				margin-right: -0.25em;
			}
		</style>

		<link rel='stylesheet' id='xoo-el-fonts-css' href='{{ asset('assets/_front/css/easy-login-woocommerce-assets-css-xoo-el-fonts.css') }}' type='text/css' media='all'/>

		<link rel='stylesheet' id='xoo-aff-style-css' href='{{ asset('assets/_front/css/easy-login-woocommerce-xoo-form-fields-fw-assets-css-xoo-aff-style.css') }}' type='text/css' media='all'/>

		<style id='xoo-aff-style-inline-css' type='text/css'>

			.xoo-aff-input-group .xoo-aff-input-icon {
				background-color: #eee;
				color: #555;
				max-width: 40px;
				min-width: 40px;
				border: 1px solid #ccc;
				border-right: 0;
				font-size: 14px;
			}
			.xoo-aff-group {
				margin-bottom: 30px;
			}

			.xoo-aff-group input[type="text"],
			.xoo-aff-group input[type="password"],
			.xoo-aff-group input[type="email"],
			.xoo-aff-group input[type="number"],
			.xoo-aff-group select,
			.xoo-aff-group select + .select2 {
				background-color: #fff;
				color: #777;
			}

			.xoo-aff-group input[type="text"]::placeholder,
			.xoo-aff-group input[type="password"]::placeholder,
			.xoo-aff-group input[type="email"]::placeholder,
			.xoo-aff-group input[type="number"]::placeholder,
			.xoo-aff-group select::placeholder {
				color: #777;
				opacity: 0.7;
			}

			.xoo-aff-group input[type="text"]:focus,
			.xoo-aff-group input[type="password"]:focus,
			.xoo-aff-group input[type="email"]:focus,
			.xoo-aff-group input[type="number"]:focus,
			.xoo-aff-group select:focus,
			.xoo-aff-group select + .select2:focus {
				background-color: #ededed;
				color: #000;
			}


			.xoo-aff-group input[type="text"],
			.xoo-aff-group input[type="password"],
			.xoo-aff-group input[type="email"],
			.xoo-aff-group input[type="number"],
			.xoo-aff-group select {
				border-bottom-left-radius: 0;
				border-top-left-radius: 0;
			}
		</style>


		<link rel='stylesheet' id='xoo-aff-font-awesome5-css' href='{{ asset('assets/_front/css/easy-login-woocommerce-xoo-form-fields-fw-lib-fontawesome5-css-all.min.css') }}'/>

		<link rel='stylesheet' id='select2-css' href='{{ asset('assets/_front/css/easy-login-woocommerce-xoo-form-fields-fw-lib-select2-select2.css') }}' type='text/css' media='all'/>

		<link rel='stylesheet' id='font-awesome-css' href='{{ asset('assets/_front/css/newsever-assets-font-awesome-css-font-awesome.min.css') }}' type='text/css' media='all'/>

		<link rel='stylesheet' id='bootstrap-css' href='{{ asset('assets/_front/css/newsever-assets-bootstrap-css-bootstrap.min.css') }}' type='text/css' media='all'/>

		<link rel='stylesheet' id='slick-css-css' href='{{ asset('assets/_front/css/newsever-assets-slick-css-slick.min.css') }}' type='text/css' media='all'/>

		<link rel='stylesheet' id='sidr-css' href='{{ asset('assets/_front/css/newsever-assets-sidr-css-jquery.sidr.dark.css') }}' type='text/css' media='all'/>


		<link rel='stylesheet' id='magnific-popup-css' href='{{ asset('assets/_front/css/newsever-assets-magnific-popup-magnific-popup.css') }}' type='text/css' media='all'/>

		<link rel='stylesheet' id='newsever-google-fonts-css' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700|Barlow:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800|Barlow%20Semi%20Condensed:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&#038;subset=latin,latin-ext' type='text/css' media='all'/>

		<link rel='stylesheet' id='newsever-style-css' href='{{ asset('assets/_front/css/newsever-style.css') }}' type='text/css' media='all'/>

		<link rel='stylesheet' id='heateor_sss_frontend_css-css' href='{{ asset('assets/_front/css/sassy-social-share-public-css-sassy-social-share-public.css') }}' type='text/css' media='all'/>
		<script type='text/javascript' src='{{ asset('assets/_front/js/jquery-jquery.min.js') }}' id='jquery-core-js'></script>
		<script type='text/javascript' src='{{ asset('assets/_front/js/jquery-jquery-migrate.min.js') }}' id='jquery-migrate-js'></script>

<style type="text/css">

			body
			.header-style1
			.top-header.data-bg:before,
			body
			.header-style1
			.main-header.data-bg:before
			{
			background:
			rgba(0, 0, 0, 0);
			}

			.site-title,
			.site-description
			{
			position:
			absolute;
			clip:
			rect(1px, 1px, 1px, 1px);
			display:
			none;
			}


			.elementor-page
			.elementor-section.elementor-section-full_width
			.elementor-container,
			.elementor-page .elementor-section.elementor-section-boxed > .elementor-container,
			.elementor-default .elementor-section.elementor-section-full_width > .elementor-container,
			.elementor-default .elementor-section.elementor-section-boxed > .elementor-container {
				max-width: 1500px;
			}
			.align-content-left .elementor-section-stretched,
			.align-content-right .elementor-section-stretched {
				max-width: 100%;
				left: 0 !important;
			}
		
</style>

<link rel="icon" href="{{ asset('basefront/images/logo africa entrepreneurship FINAL-03.png') }}" sizes="32x32"/>
<link rel="icon" href="{{ asset('basefront/images/logo africa entrepreneurship FINAL-03.png') }}" sizes="192x192"/>
<link rel="apple-touch-icon" href="{{ asset('assets/_front/Daily-africa-01-01-1-300x300.png') }}"/>
<meta name="msapplication-TileImage" content="{{ asset('basefront/images/logo africa entrepreneurship FINAL-03.png') }}"/>
<style type="text/css" id="wp-custom-css">
	.bottom-bar,

	.aft-home-icon,
	.exclusive-posts .exclusive-now span.exclusive-texts-wrapper,
	.exclusive-posts .exclusive-now > span,
	.header-style1 .header-right-part .popular-tag-custom-link > div.custom-menu-link a > i,
	.widget-title .category-color-1.header-after::before,
	.af-category-inside-img a.newsever-categories.category-color-1,
	.widget-title .header-after::before,
	.af-trending-news-part .trending-post-items,
	.newsever_tabbed_posts_widget .nav-tabs > li.active > a:hover,
	.newsever_tabbed_posts_widget .nav-tabs > li.active > a,
	body button,
	body input[type="button"],
	body input[type="reset"],
	body input[type="submit"],
	#scroll-up {
		background: #f28e1c;
	}

	body .aft-widget-background-secondary-background.widget:not(.solid-border):not(.dashed-border) .widget-block {
		background: #462718;
	}

	.fancy-spinner div.dot {
		background: #fff;
	}


	.exclusive-posts .exclusive-now > span:before,
	.exclusive-posts .exclusive-now > span:after,
	a.newsever-categories.category-color-1 {
		border-color: #f28e1c;
	}

	.bottom-bar {
		border-top-color: #fff;
	}

	li.tab.tab-recent.active {
		background-color: #f28e1c;
	}


	#af-preloader {
		display: none !important;
	}

	.xoo-el-sidebar {
		display: block;
		margin: auto;
		height: 75%;

	}
</style>


{% block stylesheet %}{% endblock %}

{% block javascript %}{% endblock %}

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RR4TE99ZCX"></script>
<script>
	window.dataLayer = window.dataLayer || [];
function gtag() {
dataLayer.push(arguments);
}
gtag('js', new Date());

gtag('config', 'G-RR4TE99ZCX');
</script></head>
