{% include "partials/base2.html.twig" %}
     {% block body %} 
         {% include "partials/layouts/front/_header.html.twig" %}
         
              <h1 ><center>{{ category.categoryTitle }}</center></h1>
   <br>
   <div class="en-container">
   <section class="en-front-widget-5 en-standard-section-spacing">
		<div class="row">
        {% for post in posts %}
  <div class="col">
  
      <div class="card" style="width: 18rem;">
 <a href="{{ path('app_da_post_detail', { postUrl : post.postUrl } ) }}">
														<img width="220" height="230" src="{{ vich_uploader_asset(post) | imagine_filter('CATEGORY_SHOW') }}" class="attachment-medium size-medium wp-post-image" alt=""/>
													</a>
                                                    <div class="entry-cats">
														<ul class="post-categories">
														{% for category in post.categories %}
																<li>
																	<a href="{{ path('app_da_post_category_detail', { postCategoryUrl : category.postCategoryUrl }) }}" alt="Voir toutes les actualitées">
																		{{ category.categoryTitle }}
																	</a>
																</li>
															{% endfor %}

														</ul>
													</div>
  <div class="card-body">
    <h5 class="card-title"><a href="{{ path('app_da_post_detail', { postUrl : post.postUrl } ) }}">{{ post.postTitle | raw }}</a></h5>
   	<div class="entry-meta">
														<ul class="metas">
															<li class="posted-date clr-special">
																<i class="far fa-clock"></i>
																<a href="" rel="bookmark">
																	<time class="entry-date published updated" datetime="2018-11-12T12:35:14+01:00">{{ post.postCreatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}</time>
																</a>
															</li>
															<!-- .posted-date.clr-white -->
															<li class="author clr-special">
																<i class="fas fa-user"></i>
																<a href="{{ path('app_da_user_post', { userName : post.user } ) }}">
																	{{ post.user.userFullname }}</a>
															</li>
															<!-- .author.clr-white -->
														</ul>
														<!-- .metas -->
													</div>
  </div>
</div>

  </div>
   {% endfor %}
</div>

   </section>       
  
	</div>
   
  {# <div class="col-1">
								<div class="newsever-pagination">
									<h2 class="screen-reader-text">Navigation des articles</h2>
									{% do posts.setPageRange(2) %}
									{{ knp_pagination_render(posts, "partials/layouts/front/_pagination.html.twig") }}
								</div>
							</div> #}
                        
{% include "partials/layouts/front/_footer.html.twig" %}
    {% endblock %}
			
		