<footer class="main-footer">
	<strong>Copyright: Gate Company Madagascar</strong>
	All rights reserved.
	<div class="float-right d-none d-sm-inline-block">
		<b>Version</b>1.0
	</div>
</footer>


<aside class="control-sidebar control-sidebar-dark"></aside></div><script src="{{ asset('assets/plugins/jquery/jquery.min.js') }}"></script><!-- jQuery UI 1.11.4 --><script src="{{ asset('assets/plugins/jquery-ui/jquery-ui.min.js') }}"></script><script src="{{ asset('assets/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script><script src="{{ asset('assets/plugins/jquery-knob/jquery.knob.min.js') }}"></script><!-- daterangepicker --><script src="{{ asset('assets/plugins/moment/moment.min.js') }}"></script><script src="{{ asset('assets/plugins/daterangepicker/daterangepicker.js') }}"></script><!-- Tempusdominus Bootstrap 4 --><script src="{{ asset('assets/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js') }}"></script><script src="{{ asset('assets/plugins/summernote/summernote-bs4.min.js') }}"></script><script src="{{ asset('assets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script><script src="{{ asset('assets/plugins/datatables/jquery.dataTables.js') }}"></script><script src="{{ asset('assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script><script src="{{ asset('assets/plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script><script src="{{ asset('assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script><script src="{{ asset('assets/plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script><script src="{{ asset('assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script><script src="{{ asset('assets/plugins/jszip/jszip.min.js') }}"></script><script src="{{ asset('assets/plugins/pdfmake/pdfmake.min.js') }}"></script><script src="{{ asset('assets/plugins/pdfmake/vfs_fonts.js') }}"></script><script src="{{ asset('assets/plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script><script src="{{ asset('assets/plugins/select2/js/select2.min.js') }}"></script><script src="{{ asset('assets/dist/js/adminlte.js') }}"></script><script src="{{ asset('assets/dist/js/demo.js') }}"></script><script src="{{ asset('assets/custom/js/main.js') }}"></script><!-- Bootbox --><script src="{{ asset('assets/plugins/bootbox/bootbox.min.js') }}" type="text/javascript"></script><script src="{{ asset('assets/custom/js/delete.file.js') }}"></script><!-- Page specific script -->
