{% set menu_category        = true %}
{{ include('admin/layout/header.html.twig') }}
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!-- Navbar -->
   {{ include('admin/layout/nav-bar.html.twig') }} 
    
    <!-- Main Sidebar Container -->
    {{ include('admin/layout/aside-bar.html.twig') }}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                
                <div class="col-lg-12">
                    <!-- Horizontal Form -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Ajouter des categories</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form method="POST" class="form-horizontal">
                            <div class="box-body">
                                  {{ form_start(form_create) }}
                            <div>
                              {{form_widget(form_create)}}
                            </div>
                        <!-- /.card-body -->

                            <div>
                                <button type="reset" class="btn btn-danger pull-right">vider</button>
                                <button type="submit" class="btn btn-success">Enregistrer</button>
                            </div>
                                {{form_end(form_create)}}    
                            </div>
                                
                               
                            <!-- /.box-footer -->
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
                <!--/.col (right) -->
                <!-- /.content-header -->
                <!-- atreto -->

                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                        <!-- Small boxes (Stat box) -->

                    </div><!-- /.container-fluid -->
                </section>
                <!-- /.content -->
            </div><!-- /.container-fluid -->
        </div>
    </div>
    <!-- /.content-wrapper -->
{{ include('admin/layout/footer.html.twig') }}  
</body>
</html>

