<div class="en-col aside-sidebar-outer aside-right-outer sticky-sidebar">
							<aside class="secondary">
								<div id="block-2" class="widget">
									<div class="widget_block widget_search">
										<form role="search" method="get" action="{{ path('app_da_search') }}" class="wp-block-search__button-outside wp-block-search__text-button wp-block-search">
											<label for="wp-block-search__input-3" class="wp-block-search__label">Rechercher</label>
											<div class="wp-block-search__inside-wrapper"><input type="search" id="wp-block-search__input-3" class="wp-block-search__input" name="s" value="" placeholder="" required/><button type="submit" class="wp-block-search__button wp-element-button">Rechercher</button>
											</div>
										</form>
									</div>
								</div>
								<div id="block-3" class="widget">
									<div class="widget_block">
										<div class="wp-block-group is-layout-flow">
											<div class="wp-block-group__inner-container">

												<h5 class="wp-block-heading">Choisir votre pays</h5>
												<hr>
												{% include "partials/layouts/front/africa-svg.html.twig" %}
											</div>
										</div>
									</div>
								</div>

								<!-- .en-socialwidget.widget -->
								<div class="en-postwidget en-latestpost widget">
									<div class="widget-title">
										<h3>Les plus récents</h3>
									</div>
									<!-- .widget-title -->
									<div class="widgets-contents-entry">

										<!-- .box -->

										<!-- .box -->

										<!-- .box -->

										<!-- .box -->
											<article class="box"> {% for flashNew in flashNews %}
												<div class="thumb">
													<a href="{{ path('app_da_post_detail', { postUrl : flashNew.postUrl } ) }}">
														<img width="150" height="150" src="{{ vich_uploader_asset(flashNew) | imagine_filter('FLASH_NEWS') }}" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" loading="lazy"/>
													</a>
													<div class="entry-cats">
														<ul class="post-categories">
															{% for category in flashNew.categories %}
																<li>
																	<a href="{{ path('app_da_post_category_detail', { postCategoryUrl : category.postCategoryUrl }) }}" alt="Voir toutes les actualitées">
																		{{ category.categoryTitle }}</li>
																{% endfor %}

															</ul>
														</div>
													</div>
													<!-- .thumb -->
													<div class="content-holder">
														<div class="entry-title">
															<h3 class="post-title f-size-s clr-primary">
																<a href="{{ path('app_da_post_detail', { postUrl : flashNew.postUrl } ) }}">{{ flashNew.postTitle | raw }} </a></h3>
															</div>
															<div class="entry-meta">
																<ul class="metas">
																	<li class="posted-date clr-special">
																		<i class="far fa-clock"></i>
																		<a href="" rel="bookmark">
																			<time class="entry-date published updated" datetime="2018-11-12T12:35:14+01:00">{{ flashNew.postCreatedAt|localizeddate('none', 'none', 'fr', null, 'd MMMM Y') }}</time>
																		</a>
																	</li>
																	<!-- .posted-date.clr-white -->
																	<li class="author clr-special">
																		<i class="fas fa-user"></i>
																		<a href="{{ path('app_da_user_post', { userName : flashNew.user } ) }}">
																			{{ flashNew.user.userFullname }}</a>
																	</li>
																	<!-- .posted-date.clr-white -->
																</ul>
																<!-- .metas -->
															</div>
															<!-- .entry-meta -->
														</div>
													{% endfor %}

													<!-- .content-holder -->
												</article>
												<!-- .box -->
											</div>
											<!-- .widgets-contents-entry -->
										</div>
										<!-- .en-postwidget.en-latestpost.widget -->
									</aside>
									<!-- .secondary -->
								</div>
