@font-face {
  font-family: 'Easy-Login';
  src:  url('../fonts/Easy-Login.eot');
  src:  url('../fonts/Easy-Login.eot#iefix') format('embedded-opentype'),
    url('../fonts/Easy-Login.ttf') format('truetype'),
    url('../fonts/Easy-Login.woff') format('woff'),
    url('../images/Easy-Login.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="xoo-el-icon-"], [class*=" xoo-el-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Easy-Login' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xoo-el-icon-user-circle-o:before {
  content: "\e902";
}
.xoo-el-icon-user-circle:before {
  content: "\e903";
}
.xoo-el-icon-user:before {
  content: "\e904";
}
.xoo-el-icon-envelope-o:before {
  content: "\e905";
}
.xoo-el-icon-key:before {
  content: "\e906";
}
.xoo-el-icon-key1:before {
  content: "\e901";
}
.xoo-el-icon-checkmark:before {
  content: "\e900";
}
.xoo-el-icon-cross:before {
  content: "\e907";
}
.xoo-el-icon-check_circle:before {
  content: "\e90a";
}
.xoo-el-icon-user1:before {
  content: "\e971";
}
.xoo-el-icon-cancel-circle:before {
  content: "\ea0d";
}

/*This file was exported by "Export WP Page to Static HTML" plugin which created by ReCorp (https://myrecorp.com) */